@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.App {
  text-align: center;
  /* background-image:url(./../public/images/invader_gif2.gif);
  background-repeat:repeat; */
  font-family: 'Press Start 2P', cursive;
}
