@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.App {
  text-align: center;
  background: #CC95C0;  
  background: -webkit-linear-gradient(to top, #7AA1D2, #DBD4B4, #CC95C0); 
  background: linear-gradient(to top, #7AA1D2, #DBD4B4, #CC95C0); 
  height: 100%;
  font-family: 'Press Start 2P', cursive;
}
