body {
    text-align: center;
}

#table {
    margin: auto;
}

#update {
    margin-right: 100px;
}

#delete {
    margin-left: 100px;
}

#imgdetail{
    width: 300px;
    height: 300px;
}

.detailmain {
    background-image:url(./../../public/images/invader_white.webp)
}
