@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.main{
    font-family: 'Press Start 2P', cursive;
}

#submit {
    margin-left: 200px;
    height: 100px;
    width: 110px;
}

